<h1>Register</h1>

<form action="/register" method='post'>
  <input type="text" name='user_name' class='input' placeholder='username'>
  <input type="text" name='user_email' class='input' placeholder='user email'>
  <input type="password" class='input' name='password_digest' placeholder='password'>
  <input type="submit" class='submit' value='sign up!'>
</form>
